.table{
    height:50px;
    background-color: #d4d1d1;
    border-radius:5px;
    text-align: center;
    h5{
        margin-top:3%;
        color:#505050;
    }
    &:hover{
        background-color: #dbdbdb;
        cursor: pointer;
    }
    
}
.btn-manage-manage{
    margin-left:85px;
}
.btn-manage{
    margin-bottom:10px;
}
.new{
    &:hover{
        cursor: pointer;
    }
}
.btn{
    margin-top:5px;
    margin-right:5px;
}
.rezervations{
    margin-top:20px;
    text-align: center;
}
.reservation{
    margin-top:5px;
    text-align: center;
}