/* You can add global styles to this file, and also import other style files */
#toast-container > div {
    opacity:1;
}
body{
    background-color: rgb(255, 255, 255) !important;
}
.dark{
    background-color: rgb(36, 36, 36) !important;
    color: rgb(92, 92, 92);
}